export const EXPRESS_PORT = 18326;
export const POLLINTERVAL_MS = 5000;
export const TIMEOUT_MS = 10000;
export const DEVICE_ID = ; // device id is a string of 16 lowercase hex digits
export const PG_CONFIG = {
    // postgres server info goes here
    // see https://node-postgres.com/features/connecting
    // or set this to undefined and use environment variables
};
// not dynamically updated yet
export const SAMPLE_PERIODS = {
    gamecount: ["202309ladder", "202309topladder", "202308ladder", "202308topladder"],
    players: ["202309ladder", "202308ladder"],
    leaderboard: ["202309ladder", "202308ladder"],
    games: ["202309ladder", "202308ladder"],
    decks: ["202309ladder", "202309topladder", "202308ladder", "202308topladder"],
    cards: ["202309ladder", "202309topladder", "202308ladder", "202308topladder"]
};
export const CURRENT_SAMPLE_PERIOD = {
    ladder: "202309ladder",
    topladder: "202309topladder"
};
